@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #3A3A3A;
}

.btn-primary {
  color: white;
  background-color: #E02C6D;
  padding: 10px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  transition: all 0.3s ease;
}

.btn-primary i {
  margin-left: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

main > section, main > article {
  margin-bottom: 100px;
}

.hidden {
  display: none !important;
}

header {
  color: var(--text-color);
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 70px 0 50px;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  flex-grow: 1;
}

header i {
  font-size: 1.5rem;
}

/* Navbar Section */
#menue-bar {
  display: none;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a, nav ul li i {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 10px 12px;
  border-radius: 10px;
  position: relative;
}

/* Navbar Underline */
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E02C6D;
  transition: width 0.3s ease;
}

/* Banner Section */
.banner {
  display: flex;
  align-items: center;
  gap: 110px;
}

.banner-content {
  max-width: 580px;
}

.banner-content h2 {
  font-size: 3.25rem;
  font-weight: bold;
  color: var(--text-color);
}

.banner-content p {
  font-weight: 500;
  color: var(--text-color);
  margin: 1rem auto;
}

.camera-container {
  background-image: url('../images/Circledesign.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
  width: 50%;
}

.camera-container img {
  width: 100%;
}


